<div class="container" >
    <h2>Vehicle Rental System</h2>
    <div class="row">
        <div class="col-md-4" style="margin-bottom: 10px;">
            <input type="text" [(ngModel)]="make" class="form-control" id="filterInput" placeholder="search by make" (input)="Search()" />
            {{make}}
        </div>
        <div class="col">
           <!-- <div *ngIf='listFilter' class="form-text text-muted">Filtered by: {{listFilter}}</div> -->
        </div>
    </div>
    <table class="table table-striped ">
        <thead>
            <th>Plate Number</th>
            <th>Make</th>
            <th>Rent Rate</th>
            <th>Transmission</th>
            <th>No Of Doors</th>
            <th>Vehicle Type</th>
            <th>Operations</th>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars">
                <td>{{car._id}}</td>
                <td>{{car.make}}</td>
                <td>{{car.rentRate}}</td>
                <td>{{car.transmission}}</td>
                <td>{{car.noofDoors}}</td>
                <td>{{car.vehicleType}}</td>
                <td class="btn btn-primary" (click)="onButtonClick()">Book</td>
            </tr>
        </tbody>
    </table>
</div>